<div class="login-container">
    <div class="login-box">
        <div class="login-header">
            <p class="header-text">Login</p>
        </div>
        <div class="login-body">
            <div class="form-group" [formGroup]="loginForm">
                <div class="username">
                    <p class="body-text">UserName: </p>
                    <input class="form-group" type="text" placeholder="Enter your username" formControlName="userName" />
                </div>
                <div class="password">
                    <p class="body-text">Password: </p>
                    <input class="form-group" type="password" placeholder="Enter your password" formControlName="password" />
                </div>
            </div>
        </div>
        <div class="login-footer">
            <div class="btn btn-primary login-submit" (click)="login()">Login</div>
            <div class="register-link"><a (click)="navigateToRegister()">New User? Click here to Register</a></div>
        </div>
    </div>
</div>
