.home-header {
    .dbdump {
        cursor: pointer;
    }
}
.home-body {
    .message-container {
        .message-body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            .message-list {
                border-right: black solid 2px;
                padding: 1vh 2vw;
            }
            .message-view {
                width: 50vw;
                .messages-sent {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 1vh 2vw;
                    background: wheat;
                }
            }
        }
    }
}