<div class="register-container">
    <div class="register-box">
        <div class="register-header">
            <p class="header-text">Registration Form</p>
        </div>
        <div class="register-body">
            <div class="form-group" [formGroup]="registerForm">
                <div class="emailId">
                    <p class="body-text">EmailID: </p>
                    <input class="form-group" type="text" placeholder="Enter your EmailID" formControlName="emailId" />
                </div>
                <div class="username">
                    <p class="body-text">UserName: </p>
                    <input class="form-group" type="text" placeholder="Enter your username" formControlName="userName" />
                </div>
                <div class="password">
                    <p class="body-text">Password: </p>
                    <input class="form-group" type="password" placeholder="Enter your password" formControlName="password" />
                </div>
            </div>
        </div>
        <div class="register-footer">
            <div class="btn btn-primary register-submit" (click)="register()">Register</div>
            <div class="login-link"><a (click)="navigateToLogin()">Already registered? Click here to Login</a></div>
        </div>
    </div>
</div>
